1. What are data structures, and why are they important?

ANS-   way of organizing and straring data so that it can be accessed.They are importent to store data.

2. Explain the difference between mutable and immutable data types with examples?

ANS-In programming, mutable data types can be changed in place after they're created, whereas immutable data types cannot—once created, their content can't be altered.
like tupple's are can't be chenged after created so they are immutable and on the other hand list are can be chenged so they are mutable.

3. What are the main differences between lists and tuples in Python?

ANS- list are mutable and tuples are immutable.

4. Describe how dictionaries store data?

ANS- in key value pair

5. Why might you use a set instead of a list in Python?

ANS- set's dosen't allow any duplicate element.

6. What is a string in Python, and how is it different from a list?

ANS-  Python string is an immutable sequence of characters—once you create it, you can't change its contents. For example, "hello"[0] = "H" raises an error.   

  A Python list is a mutable sequence of items (which can be any type), and you can change it in-place, e.g., my_list[0] = 10 works fine.

7. How do tuples ensure data integrity in Python?

ANS- because they are immutable

8. What is a hash table, and how does it relate to dictionaries in Python?

ANS-A hash table is a data structure that stores data in an associative manner using key-value pairs. It uses a hash function to compute an index (also called a hash code) into an array of buckets or slots, from which the desired value can be found.

9. Can lists contain different data types in Python?

ANS- Yes. List can store any data type(flote,integer, string,bulian value)

10. Explain why strings are immutable in Python?

ANS- Because strings represent and manipulate textual data type.

11. What advantages do dictionaries offer over lists for certain tasks?

ANS- Dictionaries offer faster, key-based access and more meaningful data organization than lists for associative tasks.

12. Describe a scenario where using a tuple would be preferable over a list.

ANS- company details.

13. How do sets handle duplicate values in Python?

ANS- Sets automatically remove the duplicate value.

15. Can you modify the elements of a tuple? Explain why or why not

ANS- No.Because tupples are immutable data structure.

16. What is a nested dictionary, and give an example of its use case?

ANS- A nested dictionary in Python is a dictionary where values are themselves dictionaries, allowing hierarchical or structured data storage.

students = {

    101: {"name": "Alice", "age": 20, "grade": "A"},

    102: {"name": "Bob", "age": 22, "grade": "B"}
}

Here, each student ID maps to another dictionary holding that student's details.

17. Describe the time complexity of accessing elements in a dictionary

ANS- Accessing elements in a dictionary has an average time complexity of O(1) due to hash-based indexing.

18.  In what situations are lists preferred over dictionaries?

ANS- Lists are preferred when data is ordered, sequential, or requires index-based access and duplicates.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

ANS- Dictionaries are considered unordered because their keys are stored based on hash values, not insertion order (before Python 3.7), which means data retrieval relies on keys, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

ANS- A list retrieves data by index (position), while a dictionary retrieves data by key (name or identifier).

In [1]:
#prectical question
#qus1. Write a code to create a string with your name and print it.
name = 'Deep'
print(name)

Deep

In [2]:
#qus2. Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [3]:
#qus3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[0:3])

Pyt

In [4]:
#qus4. Write a code to convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [5]:
#qus5.  Write a code to replace the word "apple" with "orange" in the string "I like apple
string = "I like apple"
print(string.replace("apple","orange"))

I like orange

In [6]:
#qus6. Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
# qus7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
# qus8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
#qus9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
list[0:2]

['a', 'b']

In [11]:
# qus10. Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [12]:
# qus11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [22]:
# qus12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[2:4])

('blue', 'yellow')

In [23]:
# qus13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
min(tuple)

5

In [24]:
# qus14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [28]:
#qus15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple =('mango', 'orenge', 'kiwi')
"kiwi" in tuple

True

In [29]:
#qus16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'a', 'c', 'b'}

In [31]:
#qus17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [32]:
#qus18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [41]:
#qus19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

In [42]:
#qus20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 ={3, 4, 5}
s1 & s2

{3}

In [44]:
#qus21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict ={"name": "Deep", "age": 23, "city": "kolkata"}
print(my_dict)

{'name': 'Deep', 'age': 23, 'city': 'kolkata'}

In [45]:
#qus22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary = {'name': 'John', 'age': 25}
dictionary["country"] = "USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [46]:
#qus23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dictionary = {'name': 'Alice', 'age': 30}
dictionary["name"]

'Alice'

In [47]:
#qus24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary['age']
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [48]:
#qus25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary = {'name': 'Alice', 'city': 'Paris'}
dictionary.keys()

dict_keys(['name', 'city'])

In [49]:
#.qus26. Write a code to create a list, a tuple, and a dictionary, and print them all
list = [1,2,3,4,5]
print(list)
tuple = (1,2,3,4,5)
print(tuple)
dictionary = {"name": "Deep", "age": 23, "city": "kolkata"}
print(dictionary)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Deep', 'age': 23, 'city': 'kolkata'}

In [53]:
#qus27Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[12, 23, 51, 66, 72]

In [54]:
#qus28. Write a code to create a list with strings and print the element at the third index.
list1 = ['1', '2', '3', '4', '5']
print(list[3])

4

In [55]:
#qus29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [62]:
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set

SyntaxError: incomplete input (ipython-input-62-3928131483.py, line 3)